.wrap {
	margin: auto;
	max-width: 800px;
	width: 90%;
}

.principal{
	background: #a566ca;
	color: #fff;
	padding: 50px 0;
	width: 100%;
	text-align: center;
	font-size: 50px;
	font-family: arial;
    position: fixed top;
}


.principal .formulario {
	color: #212121;
	text-align: center;
}

.principal .formulario input[type=text] {
	margin-bottom: 20px;
	padding:10px 25px;
	width: 100%;
	border-radius: 15px;
	border:none;
}

.principal .formulario input[type=text].error {
	border: 5px solid #D32F2F;
	color: red;
	border-radius: 15px;
}

.principal .formulario .boton:hover {
	background-color: rgb(46, 100, 46);
}
.principal .formulario .boton{
	background: rgb(111, 180, 111);
	border-radius: 10px;
	border: green;
	padding: 15px;
	text-align: center;
	display: inline-block;
	font-size: 16px;
	color:white;
}